header h1,h4{
    text-align: center;
}

header h1 {
    font-size:75px;
} 

#table-of-contents {
    font-size: 40px;
    text-align: center;
    border-style: double;
    border-width: 10px;
}

.pages {
    font-size: 32px;
}

body {
    color:#5c8884;
    background-color: antiquewhite;
}

h1 {
    color:#5c8884;
    background-color: antiquewhite;
}