/* ========== BOX MODEL ========== //
//
// Margin      | e.g. margin: 10px 10px 10px 10px (top | right | bottom | left)  
// Border      | e.g. border: 2px dotted green
// Padding     | e.g. padding: 10px (shorthand)
// Content     | 
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1,h4{
    text-align: center;
}
header h1 {
    font-size:75px;
} 
header h4 {
    font-size: 27px;
}
h1 {
    color:#5c8884;
    background-color: antiquewhite;
}
body {
    color:#5c8884;
    background-color: antiquewhite;
}
#table-of-contents {
    font-size: 40px;
    text-align: center;
    border-style: double;
    border-width: 10px;
}
.pages {
    font-size: 32px;
    text-align: center;
    display: block;
    padding: 10px;
    padding-top: 20px;;
    margin: 100px;
    margin-left: auto; /*NOT TOO SURE WHAT THIS DOES*/
    margin-right: auto;
    height:100px;
    width: 400px; 
    border: 5px solid #5c8884;
    position: relative; /*NOT TOO SURE WHAT THIS DOES*/
}


